# Environment variables declared in this file are automatically made available to Prisma.
# See the documentation for more detail: https://pris.ly/d/prisma-schema#accessing-environment-variables-from-the-schema

# Prisma supports the native connection string format for PostgreSQL, MySQL, SQLite, SQL Server, MongoDB and CockroachDB.
# See the documentation for all the connection string options: https://pris.ly/d/connection-strings

DATABASE_URL="postgresql://postgres:123@dev-db:5432/nest?schema=public"
ACTIVITY_SERVICE="http://localhost:5000"


HASH_SALT = 11
JWT_SECRET = JWT_SECRET
JWT_EXPIRE = 7d
JWT_EXPIRE_MILLISECONDS = 604800000
TOKEN_NAME = TOKEN_NAME

RMQ_URL=amqp://localhost:5672